@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Book'), local('CircularStd-Book'),
    url('assets/fonts/CircularStd-Book.woff2') format('woff2'),
    url('assets/fonts/CircularStd-Book.woff') format('woff');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Medium'), local('CircularStd-Medium'),
    url('assets/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('assets/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Bold'), local('CircularStd-Bold'),
    url('assets/fonts/CircularStd-Bold.woff2') format('woff2'),
    url('assets/fonts/CircularStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: Circular Std, sans-serif;
  }
}

.wrapper {
  @apply container mx-auto px-10 md:px-20;
}
